.container {
  text-align: center;
}

.pi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.digits-container {
  width: 50%;
  padding-right: 10px;
}

.pi-visualization {
  width: 50%;
  padding-left: 10px;
}

#pi-digits {
  font-size: 24px;
}

canvas {
  border: 1px solid black;
}
